p { 
    color: darkgoldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: normal;
text-align: center;
font-weight: bold;
font-size: medium;
line-height: normal;
}

nav {
background-color: darkslateblue;
padding: 15px;
text-align: center;
}
nav a{
    color: aquamarine;
    text-decoration: wavy;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    background: #0077cc;
}
nav a:hover{
    color: crimson;
    text-decoration: underline;
}
h1{
    color: darkmagenta;
    font-size: 36px;
    font-family:  'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
img{
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 3px solid #0077cc;
}