<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <nav>
   <a id = "a" href = "/" target = "_self">Home</a>|
   <a id = "a" href = "/about" target = "_self">About</a>|
   <a id = "a" href = "/project" target = "_self">Projects</a>|
   <a id = "a" href = "/contact" target = "_self">Contact</a>|
   </nav>
    <link rel = "stylesheet"href = "{{url_for('static',filename='style.css')}}">
</head>
<body>
   <p>I am Annabella Mwinkara <br/>
    A level 300 student at the university of cape coast <br/>
    I am pursuing a degree in B.Ed Mathematics.
   </p>
   <img src = "{{url_for('static', filename='ASt.png')}}" width="300" len="250" alt=" This is an image"><br/>
   

</body>
</html>