<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <nav>
   <a id = "a" href = "/" target = "_self">Home</a>|
   <a id = "a" href = "/about" target = "_self">About</a>|
   <a id = "a" href = "/project" target = "_self">Projects</a>|
   <a id = "a" href = "/contact" target = "_self">Contact</a>|
   </nav>
    <link rel = "stylesheet"href = "{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>To collaborate or sponsor me contact:</h1> 
    
    <p>My phone number:+233592261588<br/>
    My email:annabella@aims.edu.gh
    </p>
    


   
</body>
</html>