<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <nav>
   <a id = "a" href = "/" target = "_self">Home</a>|
   <a id = "a" href = "/about" target = "_self">About</a>|
   <a id = "a" href = "/project" target = "_self">Projects</a>|
   <a id = "a" href = "/contact" target = "_self">Contact</a>|
   </nav>
    <link rel = "stylesheet"href = "{{url_for('static',filename='style.css')}}">
</head>
<body>
   <h1>Motion Sensor</h1> 
   <p>I am currently working on a motion sensor using a PIR motion sensor. <br/>
    It works more like a burglar alarm.<br/>
   </p>
   <h1>SheCodes</h1>
   <p>I plan to establish in every senior high school a coders club<br/>
    SheCodes would be a club that equips females with coding skills in at least 1 programming language.
   </p>



</body>
</html>